body{
	background-image: url('bgd.jpg');
	background-size: cover;
}

canvas{
	width: 50%;
	height: 50%;
}

#title{
	font-family: "Bebas Neue", Helvetica;
	font-size:150px;
	text-align: center;
	width: 1000px;
    margin: auto;
    text-shadow: 0px 2px 4px #555;
	
}

#tagline{
	font-family: "Bebas Neue", Helvetica;
	font-size: 50px;
	width: 1000px;
	margin: -20 auto auto auto;
	text-align: center;
	text-decoration: uppercase;
	text-shadow: 0px 2px 4px #555;
}

#polygon{
	height: 500px;
	margin: auto;
}